   .landmark-container{
    margin: auto!important;
    display: table;
   }
body{
	text-align:center;
}
.landmark-card-content{
	min-height:130px;
}
.landmark-data-container{
	width:auto;
	float:left;
}
.landmard-loginBy{
	width:auto;
	float:left;
	margin-left:125px;
}
.lm-forgot-password{
	left:70px;
}
.lm-input{
	width:150px;
	padding:0;
}
.lg-learn-video{
margin: 0px 20px;	
}
.lm-register-form{
	min-height:280px;
}